<a href="https://colab.research.google.com/github/sammyhasan17/fraud-detection-using-ML/blob/main/Fraud_Detection_using_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## As we wait for Plaid API to give us real world data, we will start with  dataset from the Kaggle API, We may use Polygon API or Plaid as a part 2

## Let's Load our historical data and use Pandas to take a look

In [3]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl.metadata (9.2 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in /usr/local/lib/python3.11/dist-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from opendatasets) (8.2.1)
Requirement already satisfied: bleach in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2025.8.3)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (3.4.2)
Requirement already satisfied: idna in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (3.10)
Requirement already satisfied: protobuf in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.11/dist-packages (from kaggle->opendatasets) (0.5.1)
Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [4]:
import opendatasets as od
od.download("https://www.kaggle.com/datasets/priyamchoksi/credit-card-transactions-dataset")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: sammyhasan17
Your Kaggle Key: ··········
Dataset URL: https://www.kaggle.com/datasets/priyamchoksi/credit-card-transactions-dataset
Downloading credit-card-transactions-dataset.zip to ./credit-card-transactions-dataset

100%|██████████| 145M/145M [00:00<00:00, 795MB/s]

In [5]:
import pandas as pd

df = pd.read_csv('/content/credit-card-transactions-dataset/credit_card_transactions.csv')

In [6]:
# Getting familiar with our data
print("First 5 rows of the dataset:")
display(df.head())

print("\nNumber of rows in the dataset:")
print(f"{df.shape[0]:,}")

First 5 rows of the dataset:

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,28705.0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,NaN
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,83236.0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,NaN
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,22844.0

Number of rows in the dataset:
1,296,675

## These are all of our columns listed

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 24 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
 23  merch_zipcode          1100702 non-null  float64
dtypes: float64(6), int64(6), object(12)
memory usage: 237.4+ MB

## Let's Clean our Data

In [8]:
# Data clean up -> NaN into 0 for our missing zip code of where transaction took place
df['merch_zipcode'] = df['merch_zipcode'].fillna(0)

Note: There are more columns ()!

In [19]:
# Reassigns the DataFrame to a new version without the unnamed column
df = df.drop(columns=['Unnamed: 0'])

In [20]:
df.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,Moravian Falls,...,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0,28705.0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,Orient,...,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0,0.0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,Malad City,...,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0,83236.0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,...,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0,0.0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0,22844.0

## Let's get some clues about the fraud in our data

In [21]:
# make sure our is_fraud integer is only 1 or 0
print(df['is_fraud'].unique())

[0 1]

In [22]:
fraud_df = df[df['is_fraud'] == 1] # create a fraud data frame
print(fraud_df.head(10))  # show only top 10 fraud cases from df

     trans_date_trans_time           cc_num                          merchant  \
2449   2019-01-02 01:06:37    4613314721966            fraud_Rutherford-Mertz
2472   2019-01-02 01:47:29  340187018810220  fraud_Jenkins, Hauck and Friesen
2523   2019-01-02 03:05:23  340187018810220            fraud_Goodwin-Nitzsche
2546   2019-01-02 03:38:03    4613314721966            fraud_Erdman-Kertzmann
2553   2019-01-02 03:55:47  340187018810220                fraud_Koepp-Parker
2937   2019-01-02 13:38:08    4613314721966                fraud_Medhurst PLC
3527   2019-01-02 23:52:08    4613314721966               fraud_Ruecker Group
3580   2019-01-03 01:05:27  340187018810220          fraud_Conroy-Cruickshank
3600   2019-01-03 01:35:52  340187018810220                fraud_Koepp-Parker
3671   2019-01-03 03:17:36  340187018810220         fraud_Strosin-Cruickshank

           category     amt  first    last gender                     street  \
2449    grocery_pos  281.06  Jason  Murphy      M  542 Steve Curve Suite 011
2472  gas_transport   11.52  Misty    Hart      F  27954 Hall Mill Suite 575
2523    grocery_pos  276.31  Misty    Hart      F  27954 Hall Mill Suite 575
2546  gas_transport    7.03  Jason  Murphy      M  542 Steve Curve Suite 011
2553    grocery_pos  275.73  Misty    Hart      F  27954 Hall Mill Suite 575
2937   shopping_net  844.80  Jason  Murphy      M  542 Steve Curve Suite 011
3527       misc_net  843.91  Jason  Murphy      M  542 Steve Curve Suite 011
3580  gas_transport   10.76  Misty    Hart      F  27954 Hall Mill Suite 575
3600    grocery_pos  332.35  Misty    Hart      F  27954 Hall Mill Suite 575
3671    grocery_pos  315.34  Misty    Hart      F  27954 Hall Mill Suite 575

               city  ...     long  city_pop                       job  \
2449  Collettsville  ... -81.7266       885            Soil scientist
2472    San Antonio  ... -98.4590   1595797  Horticultural consultant
2523    San Antonio  ... -98.4590   1595797  Horticultural consultant
2546  Collettsville  ... -81.7266       885            Soil scientist
2553    San Antonio  ... -98.4590   1595797  Horticultural consultant
2937  Collettsville  ... -81.7266       885            Soil scientist
3527  Collettsville  ... -81.7266       885            Soil scientist
3580    San Antonio  ... -98.4590   1595797  Horticultural consultant
3600    San Antonio  ... -98.4590   1595797  Horticultural consultant
3671    San Antonio  ... -98.4590   1595797  Horticultural consultant

             dob                         trans_num   unix_time  merch_lat  \
2449  1988-09-15  e8a81877ae9a0a7f883e15cb39dc4022  1325466397  36.430124
2472  1960-10-28  bc7d41c41103877b03232f03f1f8d3f5  1325468849  29.819364
2523  1960-10-28  b98f12f4168391b2203238813df5aa8c  1325473523  29.273085
2546  1988-09-15  397894a5c4c02e3c61c784001f0f14e4  1325475483  35.909292
2553  1960-10-28  7863235a750d73a244c07f1fb7f0185a  1325476547  29.786426
2937  1988-09-15  248c2746e78f2ec713df51254ff1b302  1325511488  35.987802
3527  1988-09-15  2f7d497f607396ab669c14c2abe3886f  1325548328  35.985612
3580  1960-10-28  0a2f8002e55a3565c5c88d8cf039fed8  1325552727  28.856712
3600  1960-10-28  97903213a2fd7e53bbaa60807144a505  1325554552  29.320662
3671  1960-10-28  0ffc2b7dae4c33883f14ac60283d4027  1325560656  28.953283

     merch_long  is_fraud  merch_zipcode
2449 -81.179483         1        28644.0
2472 -99.142791         1        78055.0
2523 -98.836360         1        78039.0
2546 -82.091010         1        28777.0
2553 -98.683410         1        78006.0
2937 -81.254332         1        28606.0
3527 -81.383306         1        28606.0
3580 -97.794207         1        78119.0
3600 -97.937219         1        78160.0
3671 -97.806528         1        78111.0

[10 rows x 23 columns]

In [23]:
cols = ['trans_date_trans_time', 'merchant', 'category', 'amt', 'first', 'last', 'city']
print(fraud_df[cols].head(10).to_string(index=False))

trans_date_trans_time                         merchant      category    amt first   last          city
  2019-01-02 01:06:37           fraud_Rutherford-Mertz   grocery_pos 281.06 Jason Murphy Collettsville
  2019-01-02 01:47:29 fraud_Jenkins, Hauck and Friesen gas_transport  11.52 Misty   Hart   San Antonio
  2019-01-02 03:05:23           fraud_Goodwin-Nitzsche   grocery_pos 276.31 Misty   Hart   San Antonio
  2019-01-02 03:38:03           fraud_Erdman-Kertzmann gas_transport   7.03 Jason Murphy Collettsville
  2019-01-02 03:55:47               fraud_Koepp-Parker   grocery_pos 275.73 Misty   Hart   San Antonio
  2019-01-02 13:38:08               fraud_Medhurst PLC  shopping_net 844.80 Jason Murphy Collettsville
  2019-01-02 23:52:08              fraud_Ruecker Group      misc_net 843.91 Jason Murphy Collettsville
  2019-01-03 01:05:27         fraud_Conroy-Cruickshank gas_transport  10.76 Misty   Hart   San Antonio
  2019-01-03 01:35:52               fraud_Koepp-Parker   grocery_pos 332.35 Misty   Hart   San Antonio
  2019-01-03 03:17:36        fraud_Strosin-Cruickshank   grocery_pos 315.34 Misty   Hart   San Antonio

In [24]:
# Make sure this is the last line in your code cell
fraud_df.head(10)

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
2449,2019-01-02 01:06:37,4613314721966,fraud_Rutherford-Mertz,grocery_pos,281.06,Jason,Murphy,M,542 Steve Curve Suite 011,Collettsville,...,-81.7266,885,Soil scientist,1988-09-15,e8a81877ae9a0a7f883e15cb39dc4022,1325466397,36.430124,-81.179483,1,28644.0
2472,2019-01-02 01:47:29,340187018810220,"fraud_Jenkins, Hauck and Friesen",gas_transport,11.52,Misty,Hart,F,27954 Hall Mill Suite 575,San Antonio,...,-98.4590,1595797,Horticultural consultant,1960-10-28,bc7d41c41103877b03232f03f1f8d3f5,1325468849,29.819364,-99.142791,1,78055.0
2523,2019-01-02 03:05:23,340187018810220,fraud_Goodwin-Nitzsche,grocery_pos,276.31,Misty,Hart,F,27954 Hall Mill Suite 575,San Antonio,...,-98.4590,1595797,Horticultural consultant,1960-10-28,b98f12f4168391b2203238813df5aa8c,1325473523,29.273085,-98.836360,1,78039.0
2546,2019-01-02 03:38:03,4613314721966,fraud_Erdman-Kertzmann,gas_transport,7.03,Jason,Murphy,M,542 Steve Curve Suite 011,Collettsville,...,-81.7266,885,Soil scientist,1988-09-15,397894a5c4c02e3c61c784001f0f14e4,1325475483,35.909292,-82.091010,1,28777.0
2553,2019-01-02 03:55:47,340187018810220,fraud_Koepp-Parker,grocery_pos,275.73,Misty,Hart,F,27954 Hall Mill Suite 575,San Antonio,...,-98.4590,1595797,Horticultural consultant,1960-10-28,7863235a750d73a244c07f1fb7f0185a,1325476547,29.786426,-98.683410,1,78006.0
2937,2019-01-02 13:38:08,4613314721966,fraud_Medhurst PLC,shopping_net,844.80,Jason,Murphy,M,542 Steve Curve Suite 011,Collettsville,...,-81.7266,885,Soil scientist,1988-09-15,248c2746e78f2ec713df51254ff1b302,1325511488,35.987802,-81.254332,1,28606.0
3527,2019-01-02 23:52:08,4613314721966,fraud_Ruecker Group,misc_net,843.91,Jason,Murphy,M,542 Steve Curve Suite 011,Collettsville,...,-81.7266,885,Soil scientist,1988-09-15,2f7d497f607396ab669c14c2abe3886f,1325548328,35.985612,-81.383306,1,28606.0
3580,2019-01-03 01:05:27,340187018810220,fraud_Conroy-Cruickshank,gas_transport,10.76,Misty,Hart,F,27954 Hall Mill Suite 575,San Antonio,...,-98.4590,1595797,Horticultural consultant,1960-10-28,0a2f8002e55a3565c5c88d8cf039fed8,1325552727,28.856712,-97.794207,1,78119.0
3600,2019-01-03 01:35:52,340187018810220,fraud_Koepp-Parker,grocery_pos,332.35,Misty,Hart,F,27954 Hall Mill Suite 575,San Antonio,...,-98.4590,1595797,Horticultural consultant,1960-10-28,97903213a2fd7e53bbaa60807144a505,1325554552,29.320662,-97.937219,1,78160.0
3671,2019-01-03 03:17:36,340187018810220,fraud_Strosin-Cruickshank,grocery_pos,315.34,Misty,Hart,F,27954 Hall Mill Suite 575,San Antonio,...,-98.4590,1595797,Horticultural consultant,1960-10-28,0ffc2b7dae4c33883f14ac60283d4027,1325560656,28.953283,-97.806528,1,78111.0

In [25]:
# ratio of fraud
fraud_ratio = df['is_fraud'].value_counts(normalize=True) * 100
print(fraud_ratio.round(2).astype(str) + '%')

is_fraud
0    99.42%
1     0.58%
Name: proportion, dtype: object

In [26]:
total_amt = df['amt'].sum()
print(f"Total transaction amount (including fraud): ${total_amt:,.2f}")

Total transaction amount (including fraud): $91,222,428.90

In [27]:
total_true_amt = df[df['is_fraud'] == 0]['amt'].sum()
print(f"Total valid amount: ${total_true_amt:,.2f}")

Total valid amount: $87,234,340.29

In [28]:
# How much is the total amount of fraud in dollars?
total_fraud_amt = fraud_df['amt'].sum()
print(f"Total fraud amount: ${total_fraud_amt:,.2f}")

Total fraud amount: $3,988,088.61

# Part 2: Using the Polygon API

![polygon1.png]()